.header
	padding 1.5rem
	h1
		font-family font_one
		font-weight 700
		color color_two
.header_logo
	a
		display block
		height 11rem
	img
		max-width 30rem
		position relative
		top -4rem
.header_nav
	flex_between()
	padding 2rem
	a
		font-family font_one
		font-size font_size_two
		color color_two