@import 'lib/_global.styl'
@import 'lib/_var.styl'
@import 'lib/_header.styl'
@import 'lib/_character.styl'
@import 'lib/_footer.styl'
.Alive
	color color_alive
.Dead
	color color_dead
.unknown
	color color_unkown
.status_life
	border solid .7rem
	border-radius 2rem 2rem 0 0